

header {
  background-color: #2ecc71;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
